<tr>
<td class="bw pa" style="background:#fff;padding:0 28px 14px;">
<table role="presentation" width="100%" cellpadding="0" cellspacing="0" border="0" class="r8 br bc">
<tr>
<td class="pk">
<table role="presentation" width="100%" cellpadding="0" cellspacing="0" border="0"><tr>
<td><span class="sg ib w7 f9 r3 ls cw bd pu">LEVEL 4</span></td>
<td align="right"><span class="pd w8 cd fl">20</span><span class="nk fb cm">개국</span></td>
</tr></table>
<p class="nk w7 fc cm mn">여행 금지 <span class="fa cd w5">(+2: 이란·레바논)</span></p>
<p class="nk fb h6 m4 ck2">아프가니스탄, 벨라루스, 부르키나파소, 중앙아프리카, 아이티, 이라크, <b>이란</b> <span class="sg ib w6 vm r2 cw bd fg p2">NEW</span>, 북한, <b>레바논</b> <span class="sg ib w6 vm r2 cw bd fg p2">NEW</span>, 리비아, 말리, 미얀마, 니제르, 러시아, 소말리아, 남수단, 수단, 시리아, 우크라이나, 예멘</p>
</td>
</tr>
</table>
</td>
</tr>
<tr>
<td class="bw" style="padding:0 28px 20px;">
<table role="presentation" width="100%" cellpadding="0" cellspacing="0" border="0" class="r8 by b7">
<tr>
<td class="pk">
<table role="presentation" width="100%" cellpadding="0" cellspacing="0" border="0"><tr>
<td><span class="sg ib w7 f9 r3 ls cw pu" style="background:#b45309">LEVEL 3</span></td>
<td align="right"><span class="pd w8 co fl">29</span><span class="nk fb co2">개국</span></td>
</tr></table>
<p class="nk w7 fc co2 mn">여행 재고 <span class="fa co w5">(+3 이번 주)</span></p>
<p class="nk fb h6 m4" style="color:#78350f;"><b>UAE</b> <span class="sg ib w6 vm r2 cw bd fg p2">NEW</span>, <b>요르단</b> <span class="sg ib w6 vm r2 cw bd fg p2">NEW</span>, <b>쿠웨이트</b> <span class="sg ib w6 vm r2 cw bd fg p2">NEW</span> · 사우디 · 카타르 · 바레인 등 26개국</p>
</td>
</tr>
</table>
</td>
</tr>
