<tr>
<td class="r6 br pe bE">
<p class="nk fe c2 m0 hb">
<a class="tn" href="#s4"><span class="sg ib w7 ac fa vm cw bd rc mr wg hg lg">1</span></a><a href="#s4" class="tn c2">이란-이스라엘 전면전 → <b>호르무즈 사실상 봉쇄</b></a>
</p>
</td>
</tr>
<tr><td height="8"></td></tr>
<tr>
<td class="r6 br pe bE">
<p class="nk fe c2 m0 hb">
<a class="tn" href="#s3"><span class="sg ib w7 ac fa vm cw bd rc mr wg hg lg">2</span></a><a href="#s3" class="tn c2">걸프 정유소 피격, <b>한국 원유 직격탄</b></a>
</p>
</td>
</tr>
<tr><td height="8"></td></tr>
<tr>
<td class="r6 bl pe bB">
<p class="nk fe c2 m0 hb">
<a class="tn" href="#s5"><span class="sg ib w7 ac fa vm cw rc mr bb wg hg lg">3</span></a><a href="#s5" class="tn c2">한국 긴장도 <b class="cb">96.8</b> — 세계 8위. <span class="w7 fc r3 cw bb pw">왜?</span></a>
</p>
</td>
</tr>
