<td class="r6 br pe bE">
<p class="nk fe c2 m0 hb">
<a class="tn" href="#s4"><span class="sg ib w7 ac fa vm cw bd rc mr wg hg lg">1</span></a><a href="#s4" class="tn c2">Iran-Israel full-scale war → <b>Hormuz de facto blockade</b></a>
</p>
</td>
</tr>
<tr><td height="8"></td></tr>
<tr>
<td class="r6 br pe bE">
<p class="nk fe c2 m0 hb">
<a class="tn" href="#s3"><span class="sg ib w7 ac fa vm cw bd rc mr wg hg lg">2</span></a><a href="#s3" class="tn c2">Gulf refinery strikes — <b>global energy disruption</b></a>
</p>
</td>
</tr>
<tr><td height="8"></td></tr>
<tr>
<td class="r6 bl pe bB">
<p class="nk fe c2 m0 hb">
<a class="tn" href="#s5"><span class="sg ib w7 ac fa vm cw rc mr bb wg hg lg">3</span></a><a href="#s5" class="tn c2">United States tension <b class="cb">96.8</b> — ranked #9. <span class="w7 fc r3 cw bb pw">Why?</span></a>
</p>
</td>
</tr>
</table>
<table role="presentation" width="100%" cellpadding="0" cellspacing="0" border="0" class="mT">
<tr>
