<table role="presentation" width="100%" cellpadding="0" cellspacing="0" border="0">
<tr>
<td width="22" class="sg w6 f9 c6 p8 bt"></td>
<td class="sg w6 f9 c6 p8 l5 bt">COUNTRY</td>
<td width="52" class="sg w6 ar f9 c6 p8 l5 bt">SCORE</td>
</tr>
<tr class="pulse-row br" style="box-shadow:0 0 0 2px rgba(220,38,38,.1);">
<td class="sg w7 fc cd ph">1</td>
<td class="fe ph" style="white-space:nowrap;"><a href="https://www.wewantpeace.live/issues/country/IL" class="tn w8 c1">이스라엘 / 이란</a>&nbsp;<span class="sg ib w6 fa cd vm" style="white-space:nowrap;">▲2</span></td>
<td class="pd w8 ar cd fi ph">100</td>
</tr>
<tr class="bx">
<td class="sg fb ca p7">2</td>
<td class="fc p7"><a href="https://www.wewantpeace.live/issues/country/GB" class="tn c5">영국</a></td>
<td class="sg w6 ar fd cd p7">100</td>
</tr>
<tr class="bx">
<td class="sg fb ca p7">3</td>
<td class="fc p7"><a href="https://www.wewantpeace.live/issues/country/PS" class="tn c5">팔레스타인</a></td>
<td class="sg w6 ar fd cd p7">100</td>
</tr>
<tr class="bx">
<td class="sg fb ca p7">4</td>
<td class="fc p7"><a href="https://www.wewantpeace.live/issues/country/PK" class="tn c5">파키스탄</a></td>
<td class="sg w6 ar fd cd p7">100</td>
</tr>
<tr class="bx">
<td class="sg fb ca p7">5</td>
<td class="fc p7"><a href="https://www.wewantpeace.live/issues/country/TR" class="tn c5">튀르키예</a></td>
<td class="sg w6 ar fd cd p7">100</td>
</tr>
<tr>
<td class="sg fb ca p7">6</td>
<td class="fc p7"><a href="https://www.wewantpeace.live/issues/country/RU" class="tn c5">러시아</a></td>
<td class="sg w6 ar fd cd p7">98.0</td>
</tr>
<tr class="ba">
<td class="sg fb ca p7">7</td>
<td class="fc p7"><a href="https://www.wewantpeace.live/issues/country/SA" class="tn c5">사우디아라비아</a></td>
<td class="sg w6 ar fd cd p7">97.8</td>
</tr>
<tr class="bl bB">
<td class="sg w7 fc cb" style="padding:10px 0 10px 6px;white-space:nowrap;">▶&nbsp;8</td>
<td class="fd ph" style="white-space:nowrap;"><a href="https://www.wewantpeace.live/issues/country/KR" class="tn w8 cb">한국 <span class="sg ib vm r2 cw fg b3 p2">YOU</span></a>&nbsp;<span class="sg ib w6 fa cd vm" style="white-space:nowrap;">▲4</span></td>
<td class="pd w8 ar cb fi ph">96.8</td>
</tr>
<tr>
<td class="sg fb ca p7">9</td>
<td class="fc p7"><a href="https://www.wewantpeace.live/issues/country/US" class="tn c5">미국</a></td>
<td class="sg w6 ar fd cd p7">96.8</td>
</tr>
<tr class="ba">
<td class="sg fb ca p7">10</td>
<td class="fc p7"><a href="https://www.wewantpeace.live/issues/country/LB" class="tn c5">레바논</a></td>
<td class="sg w6 ar fd cd p7">96.3</td>
</tr>
</table>
