<table role="presentation" width="100%" cellpadding="0" cellspacing="0" border="0" class="nk fc">
<tr>
<td width="24" valign="top" class="sg w7 fb cd p4">1</td>
<td class="bf p4">호르무즈 봉쇄 → 원유 차질</td>
</tr>
<tr>
<td width="24" valign="top" class="sg w7 fb co p4">2</td>
<td class="bf p4">나프타·휘발유↑ → <b class="cd">주유소 가격 ↑</b></td>
</tr>
<tr>
<td width="24" valign="top" class="sg w7 fb co p4">3</td>
<td class="bf p4">물류비↑ → <b class="cd">택배·배달비 ↑</b></td>
</tr>
<tr>
<td width="24" valign="top" class="sg w7 fb cd p4">4</td>
<td class="p4">인플레 → 금리 동결 → <b class="r2 cd br pt">대출 이자↑ KOSPI↓</b></td>
</tr>
</table>
